<!doctype html>
<head>
<title>you dun goofed</title>
<script>
alert("What");
alert("the");
alert("fuck");
alert("did");
alert("you");
alert("just");
alert("fucking");
alert("say");
alert("about");
alert("me,");
alert("you");
alert("little");
alert("bitch?");
alert("I’ll");
alert("have");
alert("you");
alert("know");
alert("I");
alert("graduated");
alert("top");
alert("of");
alert("my");
alert("class");
alert("in");
alert("the");
alert("Navy");
alert("Seals,");
alert("and");
alert("I’ve");
alert("been");
alert("involved");
alert("in");
alert("numerous");
alert("secret");
alert("raids");
alert("on");
alert("Al-Quaeda,");
alert("and");
alert("I");
alert("have");
alert("over");
alert("300");
alert("confirmed");
alert("kills.");
alert("I");
alert("am");
alert("trained");
alert("in");
alert("gorilla");
alert("warfare");
alert("and");
alert("I’m");
alert("the");
alert("top");
alert("sniper");
alert("in");
alert("the");
alert("entire");
alert("US");
alert("armed");
alert("forces.");
alert("You");
alert("are");
alert("nothing");
alert("to");
alert("me");
alert("but");
alert("just");
alert("another");
alert("target.");
alert("I");
alert("will");
alert("wipe");
alert("you");
alert("the");
alert("fuck");
alert("out");
alert("with");
alert("precision");
alert("the");
alert("likes");
alert("of");
alert("which");
alert("has");
alert("never");
alert("been");
alert("seen");
alert("before");
alert("on");
alert("this");
alert("Earth,");
alert("mark");
alert("my");
alert("fucking");
alert("words.");
alert("You");
alert("think");
alert("you");
alert("can");
alert("get");
alert("away");
alert("with");
alert("saying");
alert("that");
alert("shit");
alert("to");
alert("me");
alert("over");
alert("the");
alert("Internet?");
alert("Think");
alert("again,");
alert("fucker.");
alert("As");
alert("we");
alert("speak");
alert("I");
alert("am");
alert("contacting");
alert("my");
alert("secret");
alert("network");
alert("of");
alert("spies");
alert("across");
alert("the");
alert("USA");
alert("and");
alert("your");
alert("IP");
alert("is");
alert("being");
alert("traced");
alert("right");
alert("now");
alert("so");
alert("you");
alert("better");
alert("prepare");
alert("for");
alert("the");
alert("storm,");
alert("maggot.");
alert("The");
alert("storm");
alert("that");
alert("wipes");
alert("out");
alert("the");
alert("pathetic");
alert("little");
alert("thing");
alert("you");
alert("call");
alert("your");
alert("life.");
alert("You’re");
alert("fucking");
alert("dead,");
alert("kid.");
alert("I");
alert("can");
alert("be");
alert("anywhere,");
alert("anytime,");
alert("and");
alert("I");
alert("can");
alert("kill");
alert("you");
alert("in");
alert("over");
alert("seven");
alert("hundred");
alert("ways,");
alert("and");
alert("that’s");
alert("just");
alert("with");
alert("my");
alert("bare");
alert("hands.");
alert("Not");
alert("only");
alert("am");
alert("I");
alert("extensively");
alert("trained");
alert("in");
alert("unarmed");
alert("combat,");
alert("but");
alert("I");
alert("have");
alert("access");
alert("to");
alert("the");
alert("entire");
alert("arsenal");
alert("of");
alert("the");
alert("United");
alert("States");
alert("Marine");
alert("Corps");
alert("and");
alert("I");
alert("will");
alert("use");
alert("it");
alert("to");
alert("its");
alert("full");
alert("extent");
alert("to");
alert("wipe");
alert("your");
alert("miserable");
alert("ass");
alert("off");
alert("the");
alert("face");
alert("of");
alert("the");
alert("continent,");
alert("you");
alert("little");
alert("shit.");
alert("If");
alert("only");
alert("you");
alert("could");
alert("have");
alert("known");
alert("what");
alert("unholy");
alert("retribution");
alert("your");
alert("little");
alert("“clever”");
alert("comment");
alert("was");
alert("about");
alert("to");
alert("bring");
alert("down");
alert("upon");
alert("you,");
alert("maybe");
alert("you");
alert("would");
alert("have");
alert("held");
alert("your");
alert("fucking");
alert("tongue.");
alert("But");
alert("you");
alert("couldn’t,");
alert("you");
alert("didn’t,");
alert("and");
alert("now");
alert("you’re");
alert("paying");
alert("the");
alert("price,");
alert("you");
alert("goddamn");
alert("idiot.");
alert("I");
alert("will");
alert("shit");
alert("fury");
alert("all");
alert("over");
alert("you");
alert("and");
alert("you");
alert("will");
alert("drown");
alert("in");
alert("it.");
alert("You’re");
alert("fucking");
alert("dead,");
alert("kiddo.");
</script>
</head>
<body></body>