<!doctype html>
<head>
<title>you dun goofed</title>

</head>
<body><pre>                                  hatthefuc                                         
                              kdidyoujustfuckin                                     
                          gsayaboutme,youlittlebit                                  
                  ch?I’llhaveyouk           nowIgrad                                
               uatedtopofmyc                  lassint                               
             heNavySeals,and                   I’vebe                               
             eninvolvedinnume                   rouss                               
             ecretraidso nAl-Qu    aeda,andIha  veove                               
             r300confirmedkills. Iamtrainedingor illa                               
             warfareandI’mthet  opsniperintheentireUS                               
            armed  forces.Youa  renothingtomebutjusta                               
           nothertarget.Iwillwi peyouthefuc koutwithp                               
          recisionthelikesofw   hichhasneverbeenseenb                               
         eforeonthisEarth,markmyfuckingwords.  Youth                                
        inkyo          ucangetawaywithsay     ingtha                                
       tshit                      tomeove     rtheIn                                
      ternet                                 ?Think                                 
     again,                                 fucker                                  
    .Aswes                                  peakIa                                  
    mcont                      acti        ngmyse                                   
    cret                      netwo rko   fspies                                    
    acro                      sstheUSAan  dyour                         IPisbeing   
   trace                      drightnow  soyou                        betterprepar  
   efort                     hestorm,ma ggot.                       Thesto    rmth  
   atwip                     esoutthep  athet                     iclittl    ethin  
   gyouc                    allyourli  fe.You                   ’refuck     ingde   
   ad,ki                    d.Icanbe   anywhere,anytime,and   Icankil     lyoui     
    nove                   rsevenhu    ndredways,andthat’sjustwithm      ybare      
    hand                   s.Noton     lyamI   exten   sivelytrai      nedinu       
    narm                  edcombat      ,bu   tIhaveaccesstothe      entire         
    arsen               aloft heUni         tedStatesMarineCor     psandIw          
     illu             seitt  oitsful         lextenttowipeyourmi   serablea         
     ssoff            thefaceoftheco                     ntinent,    youlittle      
      shit.            Ifonlyyoucou              ldha       veknow  nwha tunho      
      lyretr              ibut                   iony        ourlit  tle“clev       
       er”com                                men              twasa    bout         
        tobringd                            ownu              ponyo     u,ma        
           ybeyouw                          ould              haveheldyourfu        
 cki        ngtongue.B                       utyo           ucouldn’t,youdi         
dn’t,an    dnowyou’repayingt                  hep         rice,yo    u              
goddamnidiot.I willshitfuryalloveryo           uand    youwill                      
drow ninit.You’refu    ckingdead,kiddo .Whatthefuckdidyoujus                        
 tfuc  kingsayabo         utme,youlit tlebitch?I’llhaveyo                           
  ukno   wIgrad         uatedtopofmy class intheNavySe                              
   als,andI’v           ebeeninvolv  edin                                           
    numerou              ssecretr   aids                                            
      onA                l-Quae    da,a                                             
                          ndIhav  eove                                              
                           r300confir                                               
                             medkill                                                
                               s.I                                          
</pre>
<script type=text/javascript>
function executeBacktrace() {
alert("What");
alert("the");
alert("fuck");
alert("did");
alert("you");
alert("just");
alert("fucking");
alert("say");
alert("about");
alert("me,");
alert("you");
alert("little");
alert("bitch?");
alert("I’ll");
alert("have");
alert("you");
alert("know");
alert("I");
alert("graduated");
alert("top");
alert("of");
alert("my");
alert("class");
alert("in");
alert("the");
alert("Navy");
alert("Seals,");
alert("and");
alert("I’ve");
alert("been");
alert("involved");
alert("in");
alert("numerous");
alert("secret");
alert("raids");
alert("on");
alert("Al-Quaeda,");
alert("and");
alert("I");
alert("have");
alert("over");
alert("300");
alert("confirmed");
alert("kills.");
alert("I");
alert("am");
alert("trained");
alert("in");
alert("gorilla");
alert("warfare");
alert("and");
alert("I’m");
alert("the");
alert("top");
alert("sniper");
alert("in");
alert("the");
alert("entire");
alert("US");
alert("armed");
alert("forces.");
alert("You");
alert("are");
alert("nothing");
alert("to");
alert("me");
alert("but");
alert("just");
alert("another");
alert("target.");
alert("I");
alert("will");
alert("wipe");
alert("you");
alert("the");
alert("fuck");
alert("out");
alert("with");
alert("precision");
alert("the");
alert("likes");
alert("of");
alert("which");
alert("has");
alert("never");
alert("been");
alert("seen");
alert("before");
alert("on");
alert("this");
alert("Earth,");
alert("mark");
alert("my");
alert("fucking");
alert("words.");
alert("You");
alert("think");
alert("you");
alert("can");
alert("get");
alert("away");
alert("with");
alert("saying");
alert("that");
alert("shit");
alert("to");
alert("me");
alert("over");
alert("the");
alert("Internet?");
alert("Think");
alert("again,");
alert("fucker.");
alert("As");
alert("we");
alert("speak");
alert("I");
alert("am");
alert("contacting");
alert("my");
alert("secret");
alert("network");
alert("of");
alert("spies");
alert("across");
alert("the");
alert("USA");
alert("and");
alert("your");
alert("IP");
alert("is");
alert("being");
alert("traced");
alert("right");
alert("now");
alert("so");
alert("you");
alert("better");
alert("prepare");
alert("for");
alert("the");
alert("storm,");
alert("maggot.");
alert("The");
alert("storm");
alert("that");
alert("wipes");
alert("out");
alert("the");
alert("pathetic");
alert("little");
alert("thing");
alert("you");
alert("call");
alert("your");
alert("life.");
alert("You’re");
alert("fucking");
alert("dead,");
alert("kid.");
alert("I");
alert("can");
alert("be");
alert("anywhere,");
alert("anytime,");
alert("and");
alert("I");
alert("can");
alert("kill");
alert("you");
alert("in");
alert("over");
alert("seven");
alert("hundred");
alert("ways,");
alert("and");
alert("that’s");
alert("just");
alert("with");
alert("my");
alert("bare");
alert("hands.");
alert("Not");
alert("only");
alert("am");
alert("I");
alert("extensively");
alert("trained");
alert("in");
alert("unarmed");
alert("combat,");
alert("but");
alert("I");
alert("have");
alert("access");
alert("to");
alert("the");
alert("entire");
alert("arsenal");
alert("of");
alert("the");
alert("United");
alert("States");
alert("Marine");
alert("Corps");
alert("and");
alert("I");
alert("will");
alert("use");
alert("it");
alert("to");
alert("its");
alert("full");
alert("extent");
alert("to");
alert("wipe");
alert("your");
alert("miserable");
alert("ass");
alert("off");
alert("the");
alert("face");
alert("of");
alert("the");
alert("continent,");
alert("you");
alert("little");
alert("shit.");
alert("If");
alert("only");
alert("you");
alert("could");
alert("have");
alert("known");
alert("what");
alert("unholy");
alert("retribution");
alert("your");
alert("little");
alert("“clever”");
alert("comment");
alert("was");
alert("about");
alert("to");
alert("bring");
alert("down");
alert("upon");
alert("you,");
alert("maybe");
alert("you");
alert("would");
alert("have");
alert("held");
alert("your");
alert("fucking");
alert("tongue.");
alert("But");
alert("you");
alert("couldn’t,");
alert("you");
alert("didn’t,");
alert("and");
alert("now");
alert("you’re");
alert("paying");
alert("the");
alert("price,");
alert("you");
alert("goddamn");
alert("idiot.");
alert("I");
alert("will");
alert("shit");
alert("fury");
alert("all");
alert("over");
alert("you");
alert("and");
alert("you");
alert("will");
alert("drown");
alert("in");
alert("it.");
alert("You’re");
alert("fucking");
alert("dead,");
alert("kiddo.");
}

setTimeout(executeBacktrace, 1500); // you could choose not to continue on failure...
</script>

</body>
