{% extends "base.html" %}
{% block body %}
<body>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type=text/javascript>
var socket = io.connect('http://' + document.domain + ':' + location.port);
function argh(){
      socket.emit('addshout', {
            author: escapeHtml($('input[name="a"]').val()),
            message: escapeHtml($('input[name="b"]').val())
      }, function (answer) {
        $("#msg").val("");
        
      });
}

$(document).keypress(function(e) {
    if(e.which == 13) {
      //code to submit the text
      argh();

    }
});

function executeQuery() {
    socket.emit('getpage', {});
    socket.on('getpageresp', function(msg) {
                $("#result").text("")
                $("#pages").text("")
                for(var i = 0; i < msg.list.length;i++){
                    $('#result').append('<br><span class="badge badge-secondary">'+
                    escapeHtml(msg.list[i].by)+'</span>: '+escapeHtml(msg.list[i].shout));
                }
                for(var e = 0; e < msg.pages;e++){
                    $('#pages').append('<li class="page-item disabled"><a class="page-link" href="#">'+String(e+1)+'</a></li>');
                }
            });
  setTimeout(executeQuery, 1500); // you could choose not to continue on failure...
}

$(document).ready(function() {
    
    nem = ''
    if ($('#name').val() == ""){
        $.ajax({
        url: 'https://randomuser.me/api/',
        dataType: 'json',
        success: function(data) {
            nem = data.results[0].name.first
            $('#name').val(nem)
            socket.emit('my event', {data: 'I\'m connected!', author: nem});
        }
        });
    }
    socket.on('connect', function() {
        
    });
    //run the first time; all subsequent calls will take care of themselves
    setTimeout(executeQuery, 1);
});

function escapeHtml(text) {
    'use strict';
    return text.replace(/[\"&<>]/g, function (a) {
        return { '"': '&quot;', '&': '&amp;', '<': '&lt;', '>': '&gt;' }[a];
    });
}
$(function() {
    $('button#calculate').bind('click', function() {
        argh();
        return false;
    });
});
</script>


<script type="text/javascript" charset="utf-8">

</script>


<div class="container">
  <!-- Shoutbox container -->
    <div class="container">
        <!-- text box and send button -->
        <div class="input-group">
        <input type="text" class="form-control" id=name name=a {% if name %} value={{name}}{% else %}placeholder="Name goes here"{% endif %}>
        <input id=msg type="text" class="form-control" name=b placeholder="haha yes type here">
        <button type="button" class="btn btn-outline-dark" id=calculate>Submit</button>
        </div>
        
    </div>
    <div style="height:90%;width:95%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" class="container">
        <!-- list of messages -->
        <span id=result>Loading messages</span>
        
        <nav aria-label="Page navigation example">
        <ul id=pages class="pagination pagination-sm">
        </ul>
        </nav>
    </div>
</div>

</body>
{% endblock %}