{% extends "base.html" %}
{% block body %}

<body>
{% if data %}
<script type=text/javascript>
$(document).ready(function() {
    posts = {{data.posts}}
    for(var e = 0; e < posts.length ;e++){
        //$('#news').append(String(e+1));
    }
}
</script>


<div class="container">
    <div class"row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="container">
                <h1 class="display-4">Welcome to my place of worship!</h1>
                </div>

                {% for post in data.posts %}
                <div class="card text-white bg-secondary mb-12" style="max-width: 60rem;">
                    <div class="card-header bg-transparent border-dark">
                        {{post.title}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <pre>{{post.body}}</pre>
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-dark">
                        {{post.by}}
                    </div>
                </div>
                <br>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

  
{% else %}
  <h1>No news today!</h1>
{% endif %}
</body>
{% endblock %}